html * {
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    position: sticky;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #2C271E;
    z-index: 10;
}

.nav-content {
    display: flex;
    height: inherit;
    align-items: end;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 1em;
    max-width: 1200px;
}

.nav-content button.btn-menu {
    height: inherit;
    width: auto;
    aspect-ratio: 1/1;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: #DAC297;
    display: none;
}

.nav-content div button {
    display: none;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 1em;
    height: inherit;
}

nav ul li {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    transition: all 250ms ease-in-out;
    padding: 0 0.5em;
}

nav ul li:hover {
    box-shadow: inset 0 -5px #DAC297;
}

body {
    background-color: #222222;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    max-width: 1200px;
    padding: 0 0;
    margin: 0 auto;
}

main section {
    margin: 2em 0;
}

.slogan-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid red; */
    height: 350px;
    /* width: 100%; */
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.slogan-section figure img:not(.slogan-logo, .ab) {
    width: 100%;
    z-index: 0;
    filter: grayscale(1);
    opacity: .3;
}

.slogan-logo {
    display: flex;
    z-index: 0;
}

.slogan-section figure {
    display: flex;
}

.slogan {
    display: flex;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
}

.slogan h1 {
    font-size: 3em;
}

.slogan h2 {
    font-size: 1.5em;
}

.slogan figure {
    display: flex;
    justify-content: center;
}

.slogan figure img {
    height: 150px;
    transform: scale(1.0);
    width: auto;
}

.wellcome {
    display: flex;
    width: inherit;
    gap: 2em;
    padding: 1em 15em;
    margin: 0 auto;
    /* border: solid magenta; */
}

.wellcome figure img {
    height: 300px;
    filter: grayscale(.7);
    transition: all 250ms ease-in-out;
}

.wellcome figure img:hover {
    height: 300px;
    filter: none;
}

.wellcome article {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    text-align: center;
}

.services {
    /* border: solid yellow; */
    padding: 0 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.services header {
    text-align: center;
    margin: 0 0;
}

.services figure img {
    width: 100px;
    height: auto;
    border-radius: 100%;
    filter: grayscale(1) sepia(1);
}

.services ul {
    display: flex;
    gap: 2em;
}

.services ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    background-color: #ffffff0f;
    color: #DAC297;
    padding: 1em;
    border-radius: 5px;
    aspect-ratio: 1/1;
    justify-content: center;
    transition: all 250ms ease-in-out;
}

.services ul li:hover {
    background-color: #5c5445;
}

footer {
    min-height: 50px;
    width: 100%;
    background-color: #2C271E;
    padding: 0.5em 0;
    margin-top: 1em;
}

footer a {
    text-decoration: none;
    color: unset;
}

footer figure {
    height: inherit;
}

footer figure img {
    height: inherit;
}

footer div {
    display: flex;
    height: inherit;
    gap: 5px;
}

.footer-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.contact-data {
    display: flex;
    flex-direction: column;
}

.social-button {
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    background-color: #5c544590;
    /* box-shadow: inset 0 -3px #dac39790; */
    padding: 0.7em;
    transition: all 250ms ease-in-out;
}

.social-button:hover {
    background-color: #5c5445;
    box-shadow: inset 0 -3px #DAC297;
}

.contact {
    /* border: solid cyan; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.location,
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.location h3,
.contact-form h3 {
    text-align: center;
    font-size: 24px;
}

.location iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #ffffff0f;
    height: 100%;
    border-radius: 5px;
}

.contact-form form * {
    font-size: 16px;
}

.contact-form form label {
    margin-bottom: 0.5em;
    color: #DAC297;
}

.contact-form form div {
    display: flex;
    flex-direction: column;
}

.contact-form form input,
form textarea {
    padding: 0.5em 0.5em;
}

.contact-form form input {
    background-color: #DAC297;
    border: none;
    height: 1em;
}

.contact-form form textarea {
    background-color: #DAC297;
    border: none;
    height: 2em;
}

.btn-submit-container {
    align-items: end;
}

.contact-form form button {
    width: fit-content;
    padding: 0.3em;
    background-color: #DAC297;
    color: #2C271E;
    border: none;
}

.our-works {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
}

.gallery {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.gallery figure {
    width: inherit;
}

.gallery figure img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    filter: grayscale(.7) sepia(.5);
    transition: all 250ms ease-in-out;
}

.gallery figure img:hover {
    filter: none;
}

hr {
    border-color: #DAC297;
}

@media (max-width: 1100px) {
    .wellcome {
        padding: 1em 8em;
    }
}

@media (max-width: 800px) {
    main {
        min-width: 100%;
        padding: 0 0;
    }

    nav {
        display: flex;
        position: relative;
    }

    nav ul {
        gap: 0;
    }

    .nav-content {
        display: block;
        width: 100%;
        flex-direction: column;
        height: inherit;
    }

    .nav-content div {
        display: flex;
        width: 100%;
        height: inherit;
        align-items: center;
        justify-content: space-between;
    }

    .nav-content div a,
    button {
        padding: 0 .5em;
    }

    .nav-content div button {
        display: block;
        height: 100%;
        width: auto;
        aspect-ratio: 1/1;
        font-size: 1.2em;
        text-align: center;
        background-color: transparent;
        color: #DAC297;
        border: none;
    }

    .nav-content ul {
        display: none;
        background-color: #5c5445;
        height: fit-content;
        width: 100%;
    }

    .nav-content ul.mobile {
        display: flex;
        flex-direction: column;
    }

    .nav-content ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: solid 1px red; */
        padding: .5em 0;
    }

    .nav-content ul li:hover {
        box-shadow: none;
        background-color: #ffffff0f;
    }

    .wellcome {
        flex-direction: column;
        text-align: center;
        padding: 1em 2em;
    }

    .wellcome figure {
        display: none;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }

    .contact iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }

    .services ul {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }

    .services ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        aspect-ratio: auto;

    }

    .services ul li div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .services ul li figure {
        display: flex;
        padding: .5em;
    }

    .gallery {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1em;
    }

    .our-works h3 {
        text-align: center;
    }

    .slogan-section {
        width: 100%;
        margin-top: 0;
        height: 300px;
    }

    .slogan figure img {
        height: 100px;
    }

    .slogan h1 {
        font-size: 2.1em;
    }

    .slogan h2 {
        font-size: 1.2em;
    }

    .footer-content {
        padding: 0 1em;
    }
}